body{
margin:0;
font-family: Arial, Helvetica, sans-serif;
background-color:#f3ebe2;
}

/* TOPO */

header{
background:#5a3b2e;
padding:20px;
text-align:center;
}

header h1{
color:white;
font-size:40px;
font-weight:bold;
animation: animarTitulo 5s infinite alternate;
}

/* animação do nome */

@keyframes animarTitulo{
from{color:white; transform:translateY(0px);}
to{color:#e6b98c; transform:translateY(-5px);}
}

/* MENU */

nav{
background:#7a4e3a;
text-align:center;
padding:12px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
font-size:18px;
transition:0.3s;
}

nav a:hover{
color:#ffd7b5;
font-size:20px;
}

/* CONTEUDO */

.container{
width:80%;
margin:auto;
text-align:center;
}

/* TITULOS */

h2{
color:#5a3b2e;
font-size:34px;
}

/* IMAGENS COM MOVIMENTO */

img{
border-radius:10px;
transition:transform 0.5s;
}

img:hover{
transform:scale(1.1);
}

/* CARDAPIO */

.cardapio{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
}

.item{
background:white;
padding:15px;
border-radius:10px;
width:220px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.item img{
width:100%;
}

/* CONTATO */

.contato p{
font-size:18px;
}

/* RODAPE */

footer{
margin-top:40px;
padding:20px;
text-align:center;
font-family:"Brush Script MT", cursive;
font-size:22px;
background:rgba(90,59,46,0.6);
color:white;
}